@import './navbar.scss';
@import './addOwner.scss';
@import './searchbar.scss';
@import './owner.scss';
@import './cars.scss';
@import './addCar.scss';

body {
  font-family: 'Open Sans', sans-serif !important;
}

.date-error {
  display: none;
}

.model {
  .btn {
    display: none
  }
}

.model:hover {
  .btn {
    display: inline-block
  }
}

.active {
  background-color: #e8f4f8;
}

