.date-error {
  display: none;
}

.model {
   .addCarToOwner {
    display: none;
  }
  display: inline-block;
}

.model:hover {
  .addCarToOwner {
    display: inline-block;
  }
}

.list-group-item {
   display: inline-block;
}